/* granim */
#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h1{
    position: absolute;
    z-index: 1;
}
   
#logo {
    background-image: url("seally-logo.svg");
}

#write {
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: aliceblue;
}

#write-form {
    resize: none;
    overflow-x: auto;
    overflow-y: hidden;
}

#message {
    width: 400px;
    height: 25px;
}