body {
    margin: auto;
    width: 70%;
}

header {
    margin-top: 50px;
}

.logo {
    margin-left: 0px;
}

#description h1{
    padding: 60px 0 20px 0;
    color: #1C2F63;
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 5px;
}

h3 {
    color: #1C2F63;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 40px;
}

p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 10px;
    font-weight: 500;
}

#mainthing {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#description {
    width: 80%;
}

#mainMenu {
    width: 80%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 50px;
}

/* buttons */

#mainMenu-buttons {
    margin: auto;
    width: 300px;
    padding-top: 5px;
    margin-top: 60px;
}

/* .buttons {
    margin-left: auto;
    margin-right: auto;
} */


.buttons a p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1C2F63;
    background-color: #C2D5F2;
    font-weight: 800;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
}

#mainMenu-write p{
    background-color: #5A709B;
    color: white;
    font-size: 28px;
}

#mainMenu-write p:hover{
    background-color: #2d436f;
}

#mainMenu-receive p{
    background-color: #8EA5D2;
    color: white;
    font-size: 28px;
}

#mainMenu-receive p:hover{
    background-color: #2f4776;
}

@media screen and (min-width: 800px) {
    body {
        /* max-width: 1400px; */
        width: 80%;
        height: fit-content;
    }
    
    #mainthing {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
    #mainMenu {
        margin-top: 150px;
        width: 50%;
        margin-bottom: 0;
    }
    #description {
        width: 40%;
    }
}

@media screen and (min-width: 1100px) {
    #mainthing {
        gap: 150px;
    }
    #mainMenu {
        margin-top: 110px;
        width: 40%;
        
        padding: 25px;
    }
    #description {
        width: 50%;
    }

    h1 {
        font-size: 64px;
    }
}