#receive {
    width: 500px;
    height: 600px;
    margin: auto;
    background-color: aliceblue;
}

#receive-form {
    resize: none;
    overflow-x: auto;
    overflow-y: hidden;
}

#message {
    width: 400px;
    height: 25px;
}

#whichType{
    margin: auto;
    width: 500px;
    height: 600px;
    padding: 0;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.6);
}

#receive-type-form{
    margin: auto;
    padding: 0px 30px 50px 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#whichType h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    letter-spacing: 3px;
    background-color: #1C2F63;
    padding: 30px;
    margin: auto;
    border-radius: 30px 30px 0 0;
    text-align: center;
    color: white;
}

.hidden{
    display: none;
}

.showing{
    display: block;
}

#workingtext {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}

/* buttons */

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    margin-top: 20px;
}

fieldset legend {
    font-size: 30px;
    padding: 20px 20px;

}

fieldset label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 25px 40px;
    background-color: white;
    font-size: 28px;
    border-radius: 100px;
    color: #1C2F63;
    margin: 40px 50px 10px 50px;
}


fieldset label:hover {
    background-color: #C2D5F2;
    cursor: pointer;
}


fieldset input,
fieldset label {
    display: inline;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
}

fieldset input[type="radio"]:checked+label {
    background-color: #34436f;
    color: white;
}

.submit{
    font-size: 24px;
    margin-top: 30px;
    background-color: #1C2F63;
    border: none;
    padding: 20px 45px;
    color: white;
    border-radius: 100px;

}

.submit:hover{
    cursor: pointer;
    background-color: #1f1f1f;
}

.back{
    width: 60px;
    position: absolute;
    left: 30%;
    top: 18%;
    filter: drop-shadow(0px 0px 4px #e1e1e1);
}

.back:hover{
    filter: drop-shadow(0px 0px 4px #1C2F63);

}

#inbox{
    margin: auto;
    width: 500px;
    height: 600px;
    padding: 0;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.6);  
}

#inbox h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    background-color: #1C2F63;
    padding: 30px;
    margin: auto;
    border-radius: 30px 30px 0 0;
    text-align: center;
    color: white;
}

#buts{
    display: flex;
}
#inbox button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: auto;
    margin-top: 300px;
    background-color: #1C2F63;
    border: none;
    padding: 20px 45px;
    color: white;
    border-radius: 100px;
}

#inbox button a {
    text-decoration: none;
    color: white;
}

#inbox button:hover{
    cursor: pointer;
    background-color: #1f1f1f;

}